.im-logo {
  height: 1em;
  display: inline-block;
  margin-top: -0.1em;
  fill: $white;
  vertical-align: middle;
  background: $magenta;
  border-radius: 100em;
  padding: 3px;
}

.block--schedule-consultation {
  position: relative;
  padding: 70px 15px 150px;
  z-index: 0;
  text-align: center;
  color: $white;

  @include mq(lg) {
    padding: 100px 0 200px;
  }

  @include mq(xl) {
    padding: 149px 0 269px;
  }

  .image--holder {
    @include absolute_cover();
    background: #231f20;
    z-index: -1;

    img {
      @include absolute_cover();
      object-fit: cover;
      mix-blend-mode: overlay;
    }
  }
  h3 {
    font-size: 3.5rem;
    line-height: 1.21em;
    margin-bottom: 18px;

    @include mq(md) {
      font-size: 5.5rem;
    }
    @include mq(lg) {
      font-size: 7.2rem;
    }
    @include mq(xl) {
      font-size: 8.2rem;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 1.666em;
    color: #dddddd;
    margin-bottom: 40px;

    @include mq(md) {
      margin-bottom: 70px;
      font-size: 1.8rem;
    }

    a {
      color: $white;
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

  &.block--men {
    padding: 70px 15px;

    @include mq(lg) {
      padding: 100px 0;
    }

    @include mq(xl) {
      padding: 149px 0;
    }
    .image--holder {
      img {
        mix-blend-mode: unset;
      }
    }
    .gform_wrapper {
      .gform_footer {
        .btn--red {
          background: $blue;
          border-color: $blue;
        }
      }
    }
  }
}

footer {
  position: relative;
  margin-top: -200px;
  padding: 180px 15px 40px;
  z-index: 0;
  text-align: center;

  @include mq(md) {
    margin-top: -200px;
    padding: 260px 0 40px;
  }

  @include mq(xl) {
    margin-top: -164px;
    padding: 260px 0 40px;
  }

  .footer-red-curve {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  .footer-curve {
    @include absolute_cover();
    z-index: -2;
  }

  .copyright {
    font-size: 14px;
    line-height: 22px;
    color: #5e5e5e;

    @include mq(md) {
      font-size: 16px;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;
    list-style: none;
    padding: 0;

    @include mq($until: md) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      list-style: none;
      padding: 0;
    }

    li {
      padding: 0 1vw;
      position: relative;

      @include mq(xl) {
        padding: 0 19px;
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 13px;
        background: #cdcdcd;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      a {
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #231f20;
        font-family: $open-condensed;
      }
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    @include mq(md) {
      margin-bottom: 9vh;
      margin-top: 0;
    }

    li {
      margin: 0 7.5px;
      a {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100em;
        color: $red;
        background: #f5f5f5;
        font-size: 16px;
      }
    }
  }

  &.footer-men {
    margin: 0;
    padding: 70px 0 40px;
    z-index: 0;

    @include mq(xl) {
      padding: 150px 0 40px;
    }

    .image--holder {
      @include absolute_cover;
      z-index: -1;
      img {
        @include absolute_cover;
        object-fit: cover;
      }
    }

    .social-icons {
      margin-bottom: 25px;
      @include mq(xl) {
        margin-bottom: 9vh;
      }
      li {
        a {
          background: $black-blue;
          color: $white;
        }
      }
    }
  }
}
