.menu__mobile {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: -100%;
  opacity: 0;
  padding: 0;
  background-attachment: unset;
  overflow: hidden;
  display: flex;
  @include mq($until: sm) {
    flex-direction: column;
  }

  .half-menu {
    overflow: hidden;
    width: 50%;
    position: relative;
    z-index: 0;
    padding: 50px 15px;
    @include mq(md) {
      padding: 5vw 35px;
    }
    @include mq($until: sm) {
      width: 100%;
    }

    .image--holder {
      @include absolute_cover();
      z-index: -1;

      img {
        @include absolute_cover();
        object-fit: cover;
        opacity: 0.35;
      }

      &::after {
        mix-blend-mode: multiply;
      }
    }

    &.cardio--half {
      @include mq(md) {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
        width: 60%;
        margin-right: -10%;
        padding-right: 15%;
      }
      .image--holder {
        background: $red;
        &::after {
          content: "";
          @include absolute_cover();
          background: rgba($red, 0.95);
        }
      }
    }
    &.mens--half {
      @include mq(md) {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        margin-left: -10%;
        width: 60%;
        padding-left: 15%;
      }
      .image--holder {
        background: $blue;
        &::after {
          content: "";
          @include absolute_cover();
          background: rgba($men-blue, 0.95);
        }
      }
    }
  }

  .logo {
    width: auto;
    height: 80px;
    margin: 0 auto 15px;
    display: flex;

    @include mq(md) {
      height: 120px;
    }
    @include mq(xxl) {
      height: 150px;
    }

    svg {
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }
  .site__logo {
    @include mq($until: xl) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  button {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 25px;
    background: none;
    border: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 35px;
    z-index: 9;

    &:focus {
      outline: none;
    }

    span {
      height: 3px;
      width: 35px;
      margin: 0;
      display: block;
      background: $white;
      transform: rotate(45deg);
      position: absolute;
      top: 11px;
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
  .menu {
    padding: 0;
    margin: 45px 0;
    list-style: none;
    max-height: 62%;
    height: 62%;
    overflow: auto;
    text-align: center;
    overflow-x: hidden;
    @media screen and (max-height: 600px) {
      max-height: 49%;
    }
    @include mq($until: md) {
      margin-top: 15px;
    }
    li {
      font-size: 18px;
      line-height: 2em;
      display: block;
      font-weight: 400;
      position: relative;
      left: -100%;

      @include mq(lg) {
        font-size: 20px;
      }
      @include mq(xl) {
        font-size: 24px;
      }
      @include mq(xxl) {
        font-size: 30px;
      }
      i {
        color: $white;
        margin-left: 20px;
        position: absolute;
        top: 11px;
        @include mq(md) {
          top: 19px;
        }
      }
      a {
        color: $white;
        text-decoration: none !important;
        &:hover {
          color: $blue;
        }
      }
      .sub-menu {
        display: none;
        &.active {
          display: block;
          padding: 0;
        }
        li {
          left: 0;
          font-size: 1.6rem;
          font-weight: 300;
          @include mq(md) {
            font-size: 26px;
          }
          i {
            top: 7px;
            @include mq(md) {
              top: 14px;
            }
          }
          a {
            color: $white;
            &:hover {
              color: $blue;
            }
          }
          .sub-menu {
            li {
              font-size: 0.8em;
              letter-spacing: 0;
              i {
                top: 7px;
              }
            }
          }
        }
      }
    }
  }
  hr {
    background: $black;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .social-icons {
    justify-content: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: none !important;
    @include mq(md) {
      display: flex !important;
    }
    li {
      margin: 5px 15px;
      a {
        color: $white;
        font-size: 22px;
        &:hover {
          color: $red;
        }
      }
    }
  }

  .call {
    position: absolute;
    z-index: 9;
    bottom: 25px;
    left: 25px;
    color: $white;
    align-items: center;
    display: none;
    @include mq(md) {
      display: flex;
    }

    i {
      margin-left: 10px;
      height: 30px;
      width: 30px;
      background: $blue;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 100em;
      font-size: 12px;
    }
  }
}
