.site-nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px 0;
  z-index: 99;
  align-items: center;
  transition: all 0.5s ease-in-out;

  @include mq(md) {
    padding: 25px 5vw 0;
  }
  @include mq(xl) {
    padding: 7vh 5vw 0;
  }

  .logo,
  svg.mens-logo {
    height: 100px;
    width: auto;
    transition: all 0.5s ease-in-out;

    @include mq(md) {
      height: 138px;
    }
  }

  // offset if WP admin bar is present
  .admin-bar & {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }

  button[data-toggle="menu"] {
    background: none;
    border: none;
    color: $white;
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
    }

    @include mq(lg) {
      margin-right: 217px;
    }

    &:focus {
      outline: none;
    }

    .menu--holder {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      width: 24px;
      height: 18px;
      margin-bottom: 5px;

      @include mq(md) {
        margin-bottom: 0;
        margin-right: 15px;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: $white;
      }
    }

    p {
      margin: 0;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      font-weight: bold;
      font-family: $open-condensed;

      @include mq(md) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .call {
    font-size: 20px;
    line-height: 1.35em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    font-weight: bold;

    i {
      margin-left: 4px;
      height: 40px;
      width: 40px;
      background: $red;
      color: $white;
      border-radius: 100em;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      @include mq(md) {
        margin-left: 43px;
      }

      @include mq(lg) {
        margin-left: 21px;
      }
    }

    span {
      display: none;
      @include mq(lg) {
        display: inline-block;
      }
    }
  }

  &.site-nav-men {
    .call {
      i {
        background: $blue;
      }
    }
  }

  &.sticky {
    background: rgba(35, 31, 32, 0.85);
    padding: 10px 25px;

    .logo,
    svg.mens-logo {
      height: 70px;
      width: auto;

      @include mq(md) {
        height: 100px;
      }
    }
  }
}
