.block--blue_gradient_block {
  position: relative;
  padding: 70px 0;
  color: $white;

  @include mq(md) {
    padding: 120px 0;
  }

  @include mq(xl) {
    padding: 188px 0;
  }

  .image--holder {
    @include absolute_cover();
    z-index: 0;

    img {
      @include absolute_cover();
      object-fit: cover;
      z-index: 1;
    }

    &::after {
      content: "";
      background: rgba(#0e6596, 0.85);
      @include absolute_cover();
      z-index: 2;

      @include mq(md) {
        background: linear-gradient(
          90deg,
          rgba(#0e6596, 0.85) 68.21%,
          rgba(14, 101, 150, 0) 100%
        );
      }
      @include mq(lg) {
        background: linear-gradient(
          90deg,
          #0e6596 44.21%,
          rgba(14, 101, 150, 0) 89.54%
        );
      }
      @include mq(xl) {
        background: linear-gradient(
          90deg,
          #0e6596 21.21%,
          rgba(14, 101, 150, 0) 78.54%
        );
      }
    }
  }
  h2 {
    color: $white;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
  }
  .bottom-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    path {
      fill: $white;
    }
  }
}
