.block--hero_men {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(35, 31, 32, 0.4);
  color: $white;

  h1 {
    max-width: 50vw;
    margin: 0 auto 40px;
  }

  .btn {
    white-space: nowrap;
    width: auto;
    margin: 0 auto;
    display: inline-flex;
  }

  .image--holder {
    @include absolute_cover;
    img {
      @include absolute_cover;
      object-fit: cover;
      opacity: 1;
    }
  }
}
