.block--left_red_circle {
  position: relative;
  padding: 150px 0 81px;
  z-index: 0;

  .content {
    padding-left: 50px;
    padding-right: 50px;
  }

  .red--circle {
    overflow: hidden;
    border-radius: 100em;
    border: 10px solid $red;
    width: 270px;
    height: 270px;
    z-index: 1;
    img {
      object-fit: cover;
    }
  }

  h2 {
    color: $dark-blue;
    margin-bottom: 15px;
  }

  .line-to-right {
    position: absolute;
    bottom: -150px;
    left: 26vw;
    z-index: -1;
  }
}
