.block--left_red_circle {
  position: relative;
  padding: 50px 0;
  z-index: 0;

  @include mq(md) {
    padding: 70px 0;
  }

  @include mq(lg) {
    padding: 130px 0 60px;
  }

  @include mq(xl) {
    padding: 150px 0 81px;
  }

  .content {
    @include mq(md) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .red--circle {
    overflow: hidden;
    border-radius: 100em;
    border: 10px solid $red;
    width: 225px;
    height: 225px;
    z-index: 1;
    @include mq($until: md) {
      margin: 0 auto 25px;
    }

    @include mq(lg) {
      width: 270px;
      height: 270px;
    }
    img {
      object-fit: cover;
    }
  }

  h2 {
    color: $dark-blue;
    margin-bottom: 15px;
  }

  .line-to-right {
    position: absolute;
    top: 100%;
    left: 12vw;
    z-index: -1;
    width: 67vw;
    transform: rotate(19deg);

    @include mq($until: md) {
      display: none;
    }

    @include mq(lg) {
      transform: rotate(5deg);
    }

    @include mq(xxl) {
      left: 7vw;
      width: auto;
      transform: unset;
    }
  }
}
