.block--right_blue_circle {
  position: relative;
  padding: 150px 0 81px;
  z-index: 1;

  &:nth-child(8) {
    .blue-line-left {
      display: none;
    }
  }

  .content {
    padding-right: 50px;
    padding-left: 50px;
  }

  .blue--circle {
    overflow: hidden;
    border-radius: 100em;
    border: 10px solid $men-blue;
    width: 270px;
    height: 270px;
    z-index: 1;

    img {
      object-fit: cover;
    }
  }

  h2 {
    color: $men-blue;
    margin-bottom: 15px;
  }

  .blue-line-left {
    position: absolute;
    bottom: -150px;
    left: 26vw;
    z-index: -1;
  }
}
